.container label{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem;
}

.container input{
    width: calc(100% - 2rem);
    min-height: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 0 1rem;
}

.container ul{
    list-style-position: inside;
    padding: 0 1%;
    position: relative;
    list-style-type: disc;
}
